
body,
html {
	overflow-x:hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	/* outline: none; */
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 0;
}


h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}


/* pulse over latest-posts*/

.pulse:hover{ 
	animation: pulse 0.6s ;
	animation-timing-function: linear;   
  }

  @keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.1);}
	/* 60% { transform: scale(1); } */
	}

.latest-post  {
		padding: 30px;
		box-shadow: 0 0 3px #ddd;
		background-color: #ffffff;
		font-size: 16px;
		
	}

.latest-post h4 {
    color: #28ABE3;
    padding-top: 20px;
    padding-bottom: 5px;
}

.latest-post p {
    padding: 15px 0;
    color: #999;
    font-weight: 300;
}

.nav-link{
	color: #ddd;
	font-size: 16px;
	font-weight: 500;
}

/* HEADER */

#mu-header {
	display: inline;
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 15px 0;
	z-index: 999;
	transition: all 0.5s;
}
.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
	color: #fff;
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
	margin-top: 0;
	width: 120px;
	line-height: 18px;
}


/* for the text typing */

.dynamic-txts p{
	list-style: none;
	font-size: 60px;
	font-weight: 500;
	position: relative;
	top: 0;
	animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
	100%{
	  top: -360px;
	}
  }

/* FEATURED SLIDER */

#mu-featured-slider {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	display: inline;
	float: left;
	width: 100%;
}


.mu-featured-area {
	display: inline;
	float: left;
	width: 100%;
	padding-top: 30%;
	text-align: center;
}

.mu-featured-area h1 {
	font-size: 60px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 1;
}

.mu-featured-slider p {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
}


/* social media icons */


.mu-social-media{
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media h3 {
	margin-top: 20px;
}

.mu-social-media a {
	border-radius: 50%;
	display: inline-block;
	font-size: 15px;
	border: 1px solid #333;
	width: 35px;
	height: 35px;
	line-height: 32px;
	text-align: center;
	margin: 5px 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	
}



/* projects */


#mu-project {
	display: inline;
	float: left;
	width: 100%;
}

.mu-project-area {
	display: inline;
	float: left;
	padding-top: 90px;
	width: 100%;
}
.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-project-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-header-dot {
	border-radius: 0;
	height: 3px;
	width: 75px;
	display: inline-block;
	margin-bottom: 20px;
}

.mu-project-content{
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
	padding-bottom: 50px;
}

/* Footer */

#mu-footer {
	background-color: #040303;
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 12px 0;
	text-align: center;
	width: 100%;
}

.mu-copy-right {
	margin-bottom: 0;
}

.mu-copy-right a {
	font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/* Responsive */

@media (max-width: 991px) {
	
	 .navbar-default a {
		font-size: 14px;
		margin: 10px 5px;
	}	 

	.mu-featured-area {
		padding: 28% 5%;
	}

}

@media (max-width: 767px) {
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color:  transparent !important ;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		background-color: rgba(0,0,0,0.8);
		text-align: center;
	}

	.navbar-default .mu-menu li a {
		display: inline-block;
	}
		
} 


@media (max-width: 640px){

	#mu-header {
		padding: 10px 0;
	}

}


@media (max-width: 480px) {

	 #mu-header {
		padding: 10px 0;
	}

	.navbar-default .navbar-brand, 
	.navbar-default .navbar-brand:hover, 
	.navbar-default .navbar-brand:focus {
		font-size: 25px;
		margin-top: 0px;
	} 

	 .navbar-toggle {
		padding: 7px 8px;
	}

	.navbar-toggle .icon-bar {
		width: 18px;
	} 

	h2{
		font-size: 25px;
	}

	.mu-heading-title {
		margin-bottom: 10px;
	}

	.mu-featured-area h1 {
		font-size: 40px;
	}
	

	.mu-featured-content p {
		font-size: 14px;
	}

	.mu-featured-area {
		padding: 20% 5%;
	}

				
	
}


@media (max-width: 360px){

	.mu-project-content .col-xs-6 {
		width: 100%;
	}

}



@media (max-width: 320px){
	

	
}

.mu-featured-content {
	/* margin: 50% 0 0 0; */
	padding-bottom: 15%;
	display: inline;
	float: left;
	width: 100%;
	/* position: absolute; */
}

.mu-featured-content p{
	color: #fff;
}


.arrows {
    width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	transition: all 0.5s;
	transform: translate(0px, 50px)

}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}


.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}


/* theme-color  */


.mu-filter-link:hover,
.mu-filter-imglink:hover,
.mu-filter-link:focus,
.mu-filter-imglink:focus,
.mu-copy-right a:hover,
.mu-copy-right a:focus {
	color: #040303;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	border: 1px solid #28ABE3;
	color: #28ABE3;
}


.mu-header-dot,
.mu-pro-bar,
#mu-featured-slider,
#mu-header {
	background-color: #040303;
}



